@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&display=swap');

* {
    font-family: 'Roboto Mono', monospace;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: cyan;
}

::-webkit-scrollbar-thumb {
    background:white;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(31, 88, 90);
}