/* PROJECT CSS */


#projects {
    padding: 60px;
    height: auto;
    color: blueviolet;
}

#projects_container {
    height: auto;
    display: grid;
    gap: 50px;
    padding: 30px;
}

#project1>div,
#project2>div,
#project3>div,
#project4>div {
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

#row1,
#row2 {
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

#row1>div>div>img,
#row2>div>div>img {
    width: 100%;
}
