/* SKILL CSS */


#skills {
    background-color: cyan;
    padding: 60px;
    height: 530px;
}

#skill_container {
    height: 450px;
    justify-content: space-around;
    display: grid;
    gap: 50px;
}

#skillrow1, #skillrow2{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 70px;
    align-items: center;
}

#skill_container div div {
    width: 60%;
    margin: auto;
}

#skill_container div h3{
    text-align: center;
}

#skillrow1 div div img, #skillrow2 div div img{
    width: 100%;
}
